{
  "extends": "react-app",
  "rules": {
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-single"],
    "indent": ["warn", 2],
    "semi": ["warn", "always"],
    "max-len": ["error", {
      "code": 120
    }],
    "object-curly-spacing": ["warn", "always"],
    "react/jsx-curly-spacing": [2, {
      "when": "always",
      "allowMultiline": false
    }]
  }
}