{
  "extends": "react-app",
  "rules": {
    "@typescript-eslint/no-unused-vars": ["warn"],
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-single"],
    "indent": ["warn", 2],
    "semi": ["warn", "always"],
    "max-len": ["error", {
      "code": 120,
      "ignoreUrls": true,
      "ignoreComments": true
    }],
    "object-curly-spacing": ["warn", "always"],
    "react/jsx-curly-spacing": [2, {
      "when": "always",
      "allowMultiline": true
    }]
  }
}